@font-face {
  font-family: Matrix;
  src: url("../fonts/matrixbsc_0.ttf");
}
body {
  background: #0d0d0d;
  color: #eee;
}
.btn,
input {
  width: 100%;
  margin: 10px 0;
}
h1 {
  text-align: center;
  font-family: Matrix;
  margin-bottom: 20px;
  font-size: 14vw;
  width: 100%;
  color: #d20000;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  width: 100%;
  color: #ccc;
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
.admin_btn{
  background-color: #d20000;
  color:#fff;
  border-color: #4f0000;
}
.admin_btn:hover{
  background-color: #c10000;
  color:#ddd;
  border-color: #4f0000;
}
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 140px;
  }
}
