<!DOCTYPE html>
<html>
  <head>
    <title>Yu-Gi-Onche!</title>
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="sass/main.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
    <style>
      #errcard{
        position:absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        width:50vw;
        max-width: 419px;
      }
    </style>
  </head>
  <body>
    <a href="/"><img src="http://image.noelshack.com/fichiers/2016/15/1460731389-createcard-php.jpeg" id="errcard"/></a>
  </body>
</html>
