<!doctype html>
<html>
  <head>
    <title>Yu-Gi-Onche!</title>
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="sass/main.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Yu-Gi-Onche!</h1>
        <div class="col-xs-8 col-xs-offset-2">

          <h2>Administrationche</h2>
          <hr>
          <div id="btns">
            <div class="col-xs-6">
              <a href="/admin-addcard" class="btn btn-default btn-sm">Ajouter une carte</a>
            </div>
            <div class="col-xs-6">
              <a href="/admin-rmcard" class="btn btn-default btn-sm">Supprimer une carte</a>
            </div>
            <div class="col-xs-12">
              <a href="/admin-change" class="btn btn-default btn-sm">Changer le status de quelqu'un</a>
            </div>
            <div class="col-xs-12">
              <a href="/menu" class="btn btn-default btn-sm">Retourner au menu normal</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
