<!doctype html>
<html>
  <head>
    <title>Yu-Gi-Onche!</title>
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="sass/main.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Yu-Gi-Onche!</h1>
        <div class="col-xs-8 col-xs-offset-2">

          <h2>Menu</h2>
          <hr>
          <div id="btns">
            <div class="col-xs-6">
              <a href="/play" class="btn btn-default btn-sm">Faire un duel</a>
            </div>
            <div class="col-xs-6">
              <a href="#" class="btn btn-default btn-sm">Organiser son deck</a>
            </div>
            <div class="col-xs-6">
              <a href="#" class="btn btn-default btn-sm">Classement</a>
            </div>
            <div class="col-xs-6">
              <a href="/profile" class="btn btn-default btn-sm">Mon Profil</a>
            </div>
            <%if(user.local.status == 2) { %>
              <div class="col-xs-12">
                <a href="/admin" class="btn btn-default btn-sm admin_btn">Administrationche</a>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
