<!DOCTYPE html>
<html>
  <head>
    <title>Yu-Gi-Onche!</title>
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="sass/main.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Yu-Gi-Onche!</h1>
        <div class="col-sm-8 col-sm-offset-2">
          <h2>Inscription</h2>
          <hr>
          <form action="/signup" method="post">
            <div class="form-group">
              <label>Pseudo:</label>
              <input type="text" class="form-control" name="pseudo" placeholder="ex: Jean-Deck">
            </div>
            <div class="form-group">
              <label>Email:</label>
              <input type="text" class="form-control" name="email" placeholder="ex: jean.deck@gmail.com">
            </div>
            <div class="form-group">
              <label>Mot de passe:</label>
              <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-default">S'enregistrer</button>
          </form>

          <% if (message.length > 0) { %>
            <p><%= message %></p>
          <% } %>

          <hr>

          <p>Vous avez déjà un compte ?
            <a href="/login">Se connecter</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
